body{
  
  background-color: #f5f5f5;
  align-items: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  
}
.image_header{
  opacity: 1; 
  mix-blend-mode: normal; 
  border-radius: 0px 0px 40px 42px; 
  object-fit: cover; 
  object-position: center bottom; 
  transform: rotate(0deg) translate(0px, 0px);
  width: 100%;
  height: 420px;

}
.menu_header{
  background-color: #21083b;
  opacity: 1; 
  mix-blend-mode: normal; 
  text-align: center; 
  color: white;
  background-image: none; 
  background-position: center center; 
  background-repeat: repeat; background-size: cover; 
  border-radius: 0px 0px 40px 40px; 
  border-width: 0px; 
  padding: 0px; 
  font-size: 16px; 
  height: 89px; 
  width: 100%; 

}

.login{
  background-color: #f5f5f5;
    
}

form  div #prenom,#nom, #adr_email,#mp,#creation_mp,#confirmation_mp{
   width: 17%;
   height: 2em;
   border:0 0 0 40px;
}



.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 7%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}





.obligatoire {
color:red;
}


#envoyer{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
}

#envoyer:hover{
  background-color:#4095c6;
}

@media all and (max-width:30em){
  #envoyer{
      display:block;
      margin:0.2em auto;
  }
}