*{
    font-family: Poppins;
    text-decoration: none;
    margin: 0;
    padding: 0;

}


#welcome{

    background-color: darkseagreen;
    margin: 2rem;
    padding: 1.5rem 1rem;
    border-radius: 1rem;

}

#popup{
    /*display: none;*/
    /*display: flex;*/
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    padding: 2rem;

    flex-direction: column;
    justify-content: center;

}


#popupBackground {
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
}

/*.popup.on{*/
/*    display: flex;*/
/*}*/









#searchDiv{
    display: flex;
    background-size: cover;
    background-image: url(../images/mountains.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 50vh;
    margin: 2rem 2rem 5rem 2rem;
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    position: relative;
    /*margin-left: 2rem;*/

}




#searchBar{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;


    width: 50vw;
    border-radius: 1rem;
    padding: 0.3rem 1.5rem;
    font-size: 2rem;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    position: relative;
    bottom: 0;
    /*margin-top: 5rem;*/
    /*transform: translateY(500%);*/
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;



    /*z-index: 1;*/
    /*top: 0;*/
    /*transform: translateY(500%);*/
}


#searchBar:hover{
    background-color: #FFFFFFB2;
}


#searchBar input {
    width: 100%;
    background: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    padding: 0 1rem 0 1rem;
    text-align: center;
}


#searchBar input::placeholder {
    color: black;
}


.projectCards.grid{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fill,280px);
    justify-content: center;
    margin: 2rem auto;
    column-gap: 7rem;
    row-gap: 3rem;
    grid-auto-rows: 380px;
}


.projectCard {

    background-color: #007EA7;
    border-radius: 1rem;
    padding: 1em;
    margin: 1em 0;
    box-sizing: border-box;
    color: white;
    border: solid black;
    width: 100%;

}

#tri{

    cursor: context-menu;
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    text-align: center;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    align-items: center;

    position: absolute;
    left: 2rem;
    bottom: 0;
    transform: translateY(50%);

}

#tri:hover{
    background-color: #FFFFFFB2;
}

#tri select{
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    border: none;
    /*border-radius: 1rem;*/
    padding: 0 1rem 0 0;
    margin-left: 1rem;
    text-align: center;

}




.filtre {
    /*position: absolute;*/
    /*!*left: 0;*!*/
    /*right: 0;*/
    /*!*top: 0!*/

    /*bottom: 15.5rem;*/
    /*margin-right: 6rem;*/
    cursor: pointer ;
    display: flex;
    flex-direction: row;

    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);


    /*width: 21.3vw;*/
    /*text-align: center;*/
    border-radius: 8px;
    padding: 0.5rem 2rem 0.5rem 1rem;
    border: none;
    outline: none;
    align-items: center;

    position: absolute;
    right: 2rem;
    bottom: 0;
    transform: translateY(50%);
    width: 12.75rem;



}


.filtre #centerFiltre {
    display: flex;
    margin: 0 auto;
}

#checkedCount{
    margin-left: 0.2rem;
}

.filtre:hover{
    background-color: #FFFFFFB2;
}

.filtre span{
    margin-right: 1rem;
}



.filtreIconSpace{
    padding: 0 0.5rem 0 0;
}

#searchDivBottom {
    display: flex;
    justify-content: space-between;
    /*margin: 16.5rem 2rem 2rem 2rem  ;*/
    /*position: absolute;*/

}



/* Accordion Popup */

#popupFiltreTitleClose{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

}

#filtreTitle{
    font-size: 2rem;
}

#closeButton{
    border: none;
    outline: none;
    background-color: #FFFFFF;
    cursor: pointer;

}

.accordion .contentBox {
    position: relative;

}

.accordion .contentBox .label {
    display: flex;
    position: relative;

    padding: 1rem;
    background-color: #F0F0F0;
    border-radius: 1rem;
    cursor: pointer;
    /*margin: 0.5rem;*/
}

.accordion .contentBox .label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion .contentBox.act .label::before {
    content: '-';
}


.accordion .contentBox .content {
    position: relative;
    background-color: #f5f4f4;
    border-radius: 2rem;
    height: 0;
    overflow: hidden;
    transition: 0.2s;
    overflow-y: auto;
    margin: 1rem 0 2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.filterSection{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 2rem;

}


.accordion {
    width: 40vw;
    justify-content: center;
    align-items: center;
}



.accordion .contentBox.act .content {
    height: 100px;
    padding: 10px;
}





.accordion .contentBox .content div {
    margin: 0 1rem;

}




.accordion .contentBox .content div label {
    cursor: pointer;
}


.accordion .contentBox .content div label input[type="checkbox"], input[type="radio"] {
    display: none;
}


.accordion .contentBox .content div label span {
    position: relative;
    display: inline-block;
    background-color: #DBDBDB;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    /*user-select: none;*/
    /*overflow: hidden;*/
}


.accordion .contentBox .content div label span:hover{
    background-color: #FFFFFF;
}

.accordion .contentBox .content div label input[type="checkbox"]:checked  ~ span{
    background-color: #5C5C5C;
    color: #FFFFFF;
}

.accordion .contentBox .content div label input[type="radio"]:checked  ~ span{
    background-color: #5C5C5C;
    color: #FFFFFF;
}

.accordion .contentBox .content div label input[type="checkbox"]:checked  ~ span:hover{
    background-color: #121212;
}

.accordion .contentBox .content div label input[type="radio"]:checked  ~ span:hover{
    background-color: #121212;
}





body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
