.card_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: width 150ms ease-out 100ms,height 150ms ease-out 100ms;


}

#like{
    width: 20%;

}
a:hover .card_img{
    height: 102%;
}


a:hover .info{
    background-color: rgba(255, 255, 255, 0.5);
}

.swiper{
    width: 280px;
    height: 380px;
    border-radius: 10px;
    background-color: #121212;
}

#projectCards a{
    width: 100%;
    height: 100%;
}

.info {
    display: flex;
    position: absolute;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    height: 133px;
    width: 270.33px;
    transform: translateY(240px) translateX(5px);
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    color: black;
    transition: background-color 150ms ease-out 100ms;

}

.info p{
    padding: 5px;
    width: 90%;
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
    height: 50px;
}

.comments {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    flex-wrap: nowrap;
}

.material-symbols-outlined.circle{
    font-size: 10px;
    font-variation-settings:
            'FILL' 1,
            'wght' 300,
            'GRAD' 0,
            'opsz' 48
}

.material-symbols-outlined.message{
    font-size: 20px;
    font-variation-settings:
            'FILL' 0,
            'wght' 300,
            'GRAD' 0,
            'opsz' 48
}

.tags p {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 0px 5px;
    font-size: 12px;
    width: auto;
    height: auto;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}
.comments p {
    overflow: unset;
    width: auto;
    height: auto;
}

p.status.Reviewing {
    background: #FF9534;
    font-size: 12px;
    border-radius: 10px;
    padding: 0px 95px;
    margin-bottom: 12px;
    color: white;
}

p.status.published {
    font-size: 12px;
    background: #3A7A2F;
    border-radius: 10px;
    padding: 0px 17px;
    color: white;
}
p.status.Refused {
    background: #7A2F2F;
    font-size: 12px;
    border-radius: 10px;
    padding: 0px 95px;
    margin-bottom: 12px;
    color: white;
}

.swiper-scroll {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.swiper-scroll>.swiper-wrapper>.swiper-slide{
    width: 280px;
    height: 380px;
}
.template{
    position: relative;
    z-index: -10;
}
.template .like{
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2000;
    text-decoration: none;
    color: red;
}

#premium1{
    position: absolute;
    z-index: 1000;
    top: 5px;
    left : 5px;
    backdrop-filter: blur(35px);
    border: 2px #3A7A2F;
    border-radius: 10px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.4);
}

#premiumimg{
    height: 40px;
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
}
.filled{
    font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48 !important
}