*{
    font-family: Poppins, Arial, sans-serif;
    text-decoration: none;
    color: black;
    top: 0;
    margin: 0;
    padding: 0;
}


main{
    text-align: center;
    margin-top: 8rem;
}





form {
    display: inline-block;
    margin-top: 2rem;
}


form div input {
    width : 30vw;
    border-radius: 1rem;
    padding: 0.5rem 1rem;

}

textarea {
    width: 30vw;
    border-radius: 1rem;
    border: 2px solid black;
    padding: 1rem 1rem 5rem 1rem;
    resize: vertical;

}

#envoyer {
    color: white;
    background-color: #5C5C5C;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    width: 25vw;
}

#envoyer:hover {
    background: black;

}


#formulaire {
    width: 50vw;
    background-color: whitesmoke;
    margin: 0rem auto 3rem auto;
    padding: 2rem 0;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);


    border-radius: 10px;

}


@media screen and (max-width: 768px) {

    #formulaire {
        width: 90vw;
    }

    form div input {
        width : 50vw;
    }

    textarea {
        width: 50vw;
    }


}

@media screen and (max-width: 430px) {

    #formulaire {
        width: 90vw;
    }

    form div input {
        width : 70vw;
    }

    textarea {
        width: 70vw;
    }


}