footer{
    text-align: center;
    padding: 3rem 3rem 1rem;
    margin-top: auto;
    color: black;

}

footer a {
    color: black;
}



footer a:hover {
    color: #007EA7;
}

.footerNavigation p{
    display: inline-block;
    vertical-align: top;
    margin: 1rem;
}

