.rectangle{
    border-radius: 30px;
    background-color: #21083b;
    height: 25%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blanc{
    background-color: white;
    margin-top: 20px;
    height : 300px;
    width: 25%;
    margin-right: 5px;
    margin-left: 5px;
    font-size: large;
    text-align: center;
    position: relative;
}

.flex{
    display: flex;
}

button{
    text-align: center;
}

footer:hover{
    opacity: 100%;
    color: white;
}

footer > div >a{
    text-decoration: underline;
    color: white;
    padding: 15px;
}

form{
    text-align: center;
    align-items: center;
}

.button{
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 15px;
    width: 10%;
    padding: 0.5% 0.5% 0.5% 0.5%;
    text-align: center;
  }
  .button:disabled {
    pointer-events: none;
  }
  .button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  .button:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .salope{
    width: 100px;
  }

  div > p{
    color: #FFFFFF;
    text-align: center;
  }

  .ModifierSesInfos{
    padding-top: 2%;
    padding-bottom: 2%;
  }