*{
    font-family: Poppins;
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;

}


#welcome{

    background-color: darkseagreen;
    margin: 2rem;
    padding: 1.5rem 1rem;
    border-radius: 1rem;

}

#popup{
    /*display: none;*/
    /*display: flex;*/
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    padding: 2rem;

    flex-direction: column;
    justify-content: center;

}


#popupBackground {
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
}

/*.popup.on{*/
/*    display: flex;*/
/*}*/









#searchDiv{

    background-size: cover;
    background-image: url(../images/mountains.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 50vh;


}


#searchBar{
    display: flex;
    margin: 10rem auto 5rem auto;

    background: rgba(255, 255, 255, 0.5);
    width: 30vw;
    border-radius: 1rem;
    padding: 0.3rem 1.5rem;
    font-size: 2rem;
}

#searchBar input {
    width: 100%;
    background: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    padding: 0 1rem 0 1rem;
}



#projectCards{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fill,280px);
    justify-content: center;
    margin: 2rem auto;
    gap: 7rem;
    grid-auto-rows: 380px;
}


.projectCard {

    background-color: #007EA7;
    border-radius: 1rem;
    padding: 1em;
    margin: 1em 0;
    box-sizing: border-box;
    color: white;
    border: solid black;
    width: 100%;

}





/* Accordion */
.accordion{
    color: black;
}

.accordion .contentBox {
    position: relative;
}

.accordion .contentBox .label {
    display: flex;
    position: relative;

    padding: 1rem;
    background-color: #F0F0F0;
    border-radius: 1rem;
    cursor: pointer;
}

.accordion .contentBox .label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion .contentBox.act .label::before {
    content: '-';
}


.accordion .contentBox .content {
    position: relative;
    background-color: #f5f4f4;
    border-radius: 2rem;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}




.accordion .contentBox.act .content {
    height: 100px;
    padding: 10px;
}


.accordion .contentBox .content div {
    margin: 0 1rem;

}


.accordion .contentBox .content div label {
    cursor: pointer;
}


.accordion .contentBox .content div input[type="checkbox"] {
    display: none;
}

.accordion .contentBox .content div input[type="radio"] {
    display: none;
}



.tags {
    background-color: #DBDBDB;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
}


.tags:hover {
    background-color: #FFFFFF;
}


.tags.d{
    background-color: #5C5C5C;
}


.filtre {
    /*position: absolute;*/
    /*left: 0%;*/
    /*right: 0%;*/
    /*top: 0%;*/
    /*bottom: 0%;*/

    cursor: pointer ;
    display: flex;
    flex-direction: row;

    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    /* Note: backdrop-filter has minimal browser support */
    text-align: center;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;




}


.filtreIconSpace{
    padding: 0 0.5rem 0 0;
}

#searchDivBottom {
    display: flex;
    justify-content: space-between;
    margin: 5rem 2rem 2rem 2rem  ;


}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

