.card_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: width 150ms ease-out 100ms,height 150ms ease-out 100ms;


}

.card_img:hover{
    width: 102%;
    height: 102%;
}

.swiper{
    width: 280px;
    height: 380px;
    border-radius: 10px;
}

#projectCards a{
    width: 100%;
    height: 100%;
}

.info {
    display: flex;
    position: absolute;
    z-index: 100;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    height: 133px;
    width: 270.33px;
    transform: translateY(240px) translateX(5px);
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.info p{
    padding: 5px;
    font-size: 1rem;
}

.comments {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
    flex-wrap: nowrap;
}

.material-symbols-outlined.circle{
    font-size: 10px;
    font-variation-settings:
            'FILL' 1,
            'wght' 300,
            'GRAD' 0,
            'opsz' 48
}

.material-symbols-outlined.message{
    font-size: 20px;
    font-variation-settings:
            'FILL' 0,
            'wght' 300,
            'GRAD' 0,
            'opsz' 48
}