*{
    font-family: Poppins;
    text-decoration: none;
}


main{
    text-align: center;
}


form {
    display: inline-block;
}


input {
    width : 25rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;

}

textarea {
    width: 25rem;
    border-radius: 1rem;
    border: 2px solid black;
    padding: 1rem 1rem 5rem 1rem;
    resize: vertical;

}

#envoyer {
    color: white;
    background-color: #5C5C5C;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    width: 50%;
}

#envoyer:hover {
    background: black;

}


#formulaire {
    width: 50vw;
    background-color: whitesmoke;
    margin: 6rem auto;
    padding: 2rem 0;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);


    border-radius: 10px;

}