footer{
    text-align: center;
    color: black;
    padding: 3em;
    padding-bottom: 1em;
    margin-top: auto;


}

.footerNavigation p{
    display: inline-block;
    vertical-align: top;
    margin: 1rem;
}