header {
    width : 100%;
    padding-bottom: 4rem;
}

header li a{
    color: #888888;
}

header a:hover {
    color: #007EA7;
}

/*header a{*/
/*    margin: 1rem 0 0 10rem;*/
/*    display: inline-block;*/
/*    align-items: center;*/
/*    text-align: center;*/

/*}*/

#selected {
    font-weight: bold;
    color: black;
}



.loginButton{
    color: white;


    background-color: #5C5C5C;
    border-radius: 0.5rem;
    padding: 1rem;

}


.loginButton:hover{
    color: white;
    background-color: black;
}



#navbar {
    position: absolute;
    padding: 1rem 2rem;
    display: flex;
    width: 100%;

    box-sizing: border-box;
    align-items: center;

}


#navbar #nav-links ul {
    display: flex;
}

#navbar #nav-links ul {
    display: flex;
}

#navbar #nav-links ul li {
    margin: 0 25px;
}

.buttonLog {
    position: absolute;
    right: 0;
}