*{
    font-family: Poppins;
    margin: 0;
    padding: 0;
    text-decoration: none;

}
a{
    cursor: pointer;
}
button{
    cursor: pointer;
}
body{
   /* position: relative;
    width: 80rem;
    height:  57.8125rem;*/
   background: #FFFFFF;

}

.imagess{

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    position: relative;
}

.connexion{
    position: absolute;
    left: 41%;
    top: 40%;

}

.connexion button{
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    align-items: center;
    margin-bottom: 0;
    margin-top: 3%;
    color: #121212;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    width: 320px;
    height: 72px;
}


.firebase{
    display: flex;
    justify-content: center;
    transform: translateY(-70%);
    bottom: 0;

}
/* facebook */

.facebook img{
    position: relative;
    left: 5%;
    bottom: 2%;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.facebook button{
    background: rgba(24, 119, 242, 0.6);
    width: 23rem;
    border-radius: 7px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.facebook span{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
}


/*github*/

.github img{
    position: relative;
    left: 5%;
    bottom: 2%;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.github button{
    background: rgba(18, 18, 18, 0.6);
    width: 23rem;
    border-radius: 7px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.github {
    padding-left: 1%;
}

.github span{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
}

/* google */

.google img{
    position: relative;
    left: 5%;
    bottom: 2%;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.google button{
    background: rgba(255, 255, 255, 0.6);
    width: 23rem;
    border-radius: 7px;

}

.google {
    padding-right: 1%;
    background: rgba(255, 255, 255, 0.6);

}
.facebook{
    background: rgba(24, 119, 242, 0.6);
}
.github{
    background: rgba(18, 18, 18, 0.6);
}
.google span{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    color: #121212;
}

input{
    /*border: 2px solid #5C5C5C;*/
    /*border-radius: 15px;*/
    /*width: 34.75rem;*/
    /*height: 1.75rem;*/
    /*text-align: justify;*/
    /* border: 2px solid #5C5C5C; */
    /* border-radius: 15px; */
    /* width: 34.75rem; */
    /* height: 1.75rem; */
    /* text-align: justify; */
    width: 100%;
    background: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    padding: 0 1rem 0 1rem;
    /* border-radius: 13em; */
    /* background: white; */
    /* align-items: center; */
    /* justify-content: center;*/
}
.connecter{
    padding-right: 1%;

}
.connecter button {
    background: #5C5C5C;
    border-radius: 8px;
    color: #FFFFFF;
    width: 126px;
    height: 34px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

.modo{
    padding-left: 1%;
}

.modo button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: #5C5C5C;
    border-radius: 8px;
    color: #FFFFFF;
    width: 126px;
    height: 34px;

}

.phraseAvantInscription{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5C5C5C;
    text-align: center;
}


.lienInscription a{
    text-decoration: none;
    color: #888888;
}

.lienInscription{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #888888;
    text-align: center;
}
.inscription button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: #5C5C5C;
    border-radius: 8px;
    color: #FFFFFF;
    width: 126px;
    height: 34px;
}
.ErrorInscription{

    background-color: red;

    text-align: center;
    font-family: 'Poppins';
    font-style: normal;

    font-size: 16px;


    border-radius: 8px;
    color: #FFFFFF;
    width: 50%;
    height: auto;
    padding: 1%;

    justify-content: center;
    align-items: center;
    margin-left: 23%;
    margin-top: -2%;
}
.imageconnexion{
    height: auto;
    /* background-image: url(../images/compte.png); */
    /* height: 80vh; */
    width: 100%;
    background-size: 110%;
    border-radius: 30px;
    /* box-shadow: 0 16px 16px rgb(0 0 0 / 20%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    /* margin-bottom: 160px; */
    justify-content: center;
}
.modo a{
    text-decoration: none;
    color: #FFFFFF;
}
.mp{

    /* text-align: justify; */
    /* background: rgba(255, 255, 255, 0.5); */
    /* width: 30vw; */
    /* border-radius: 1rem; */
    /* padding: 0.3rem 1.5rem; */
    /* font-size: 2rem; */
    /* display: flex; */

    /* margin: 10rem auto 5rem auto; */

    /* font-size: 2rem; */

    /* margin-right: 0; */
    /* margin-left: 14em; */
    /* align-items: center; */
    /* justify-content: center; */

    /* margin-right: -10em; */
    /* width: auto; */

    /* margin: 0 0 0 38rem; */

    text-align: center;
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    width: 30%;
    border-radius: 15px;
    padding: 0.3rem 1.5rem;
    border: solid;
    margin: 0 auto;
    /*margin: 0;*/
    /*margin-left: 0;*/
    /*display: inline-flex;*/

}
.mail{
    text-align: center;
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    width: 30%;
    border-radius: 15px;
    padding: 0.3rem 1.5rem;
    border: solid;
    margin: 0 auto;
}