*{
    font-family: Poppins;
    text-decoration: none;


}


body{


}


#welcome{

    background-color: darkseagreen;

    margin: 2rem;
    padding: 0.2rem 1rem;
    border-radius: 1rem;

}



.searchDiv{
    /*
    position: absolute;
    width: 1168px;
    height: 422px;
    left: 56px;
    top: 78px;

     */

    color: white;
    margin: 2rem;
    padding: 2rem;

    background: url(../images/mountains.jpg);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;



}






#projectCards{
    display: flex;
    flex-direction: row;
}


.projectCard {

    background-color: #007EA7;
    border-radius: 1rem;
    padding: 1em;
    margin: 1em 0;
    box-sizing: border-box;
    color: white;
    border: solid;
    border-color: black;
    width: 100%;

}